<div class="inventario">
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-name flex2" >Armas</div>
			<div class="itam-rolls flex2">Ataque (Dano, Crítico)</div>
			<div class="item-qtd">Qtd</div>
			{{#if isCharacter}}<div class="item-peso">{{weightCol}}</div>{{/if}}
			<div class="item-controls"></div>
		</li>
		{{#each actor.inventario.arma.items as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-name flexrow rollable ">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
				<h4>{{item.name}}</h4>
			</div>
			
			<div class="item-rolls flex2">
				{{item.labels.toHit}} ({{item.labels.dano}}, {{item.labels.critico}})
			</div>
			
			<div class="item-qtd">
				{{#if ../owner}}
				<input type="text" classe="item-qtd" value="{{item.data.qtd}}" data-dtype="Number" placeholder="0" style="height: 20px; width:25%; text-align: center;">
				{{else}}
					{{item.data.qtd}}
				{{/if}}
			</div>
			{{#if ../isCharacter}}<div class="item-peso">{{item.data.peso}}</div>{{/if}}
			<div class="item-controls">
				<a class="item-control item-fav" title="{{#if item.flags.favorito}}Desfavoritar{{else}}Favoritar{{/if}}" > <i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i></a>
				{{#if ../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-name">Equipamentos</div>
			<div class="item-def flex2">Defesa/Penalidade</div>
			<div class="item-qtd">Qtd</div>
			{{#if isCharacter}}<div class="item-peso">Peso</div>{{/if}}
			<div class="item-controls"></div>
		</li>
		{{#each actor.inventario.equipamento.items as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-name flexrow">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
				<h4>{{item.name}}</h4>
			</div>
			<div class="item-def flex2">{{numberFormat item.data.armadura.value sign=true}} {{item.data.armadura.penalidade}}</div>
			<div class="item-qtd">
				{{#if ../owner}}
				<input type="text" classe="item-qtd" value="{{item.data.qtd}}" data-dtype="Number" placeholder="0" style="height: 20px; width:25%; text-align: center;">
				{{else}}
					{{item.data.qtd}}
				{{/if}}
			</div>
			
			{{#if ../isCharacter}}<div class="item-peso">{{item.data.peso}}</div>{{/if}}
			<div class="item-controls">
				<a class="item-control item-toggle toggle-armor{{#if item.data.equipado}} active{{/if}}" title="{{#if item.data.equipado}}Desequipar{{else}}Equipar{{/if}}"><i class="fas fa-shield-alt"></i></a>
				<a class="item-control item-fav" title="{{#if item.flags.favorito}}Desfavoritar{{else}}Favoritar{{/if}}" > <i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i></a>
				{{#if ../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-name" style="flex: 4;">Consumíveis</div>
			<div class="item-qtd">Qtd</div>
			{{#if isCharacter}}<div class="item-peso">Peso</div>{{/if}}
			<div class="item-controls">
			</div>
		</li>
		{{#each actor.inventario.consumivel.items as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-name flexrow rollable" style="flex: 4;">
				<div class="item-image" style="background-image: url('{{item.img}}')"></div>
				<h4>{{item.name}}</h4>
			</div>
			<div class="item-qtd">
				{{#if ../owner}}
				<input type="text" classe="item-qtd" value="{{item.data.qtd}}" data-dtype="Number" placeholder="0" style="height: 20px; width:25%; text-align: center;">
				{{else}}
					{{item.data.qtd}}
				{{/if}}
			</div>
			{{#if ../isCharacter}}<div class="item-peso">{{item.data.peso}}</div>{{/if}}
			<div class="item-controls">
				<a class="item-control item-fav" title="{{#if item.flags.favorito}}Desfavoritar{{else}}Favoritar{{/if}}" > <i class="{{#if item.flags.favorito}}fas{{else}}far{{/if}} fa-star" ></i></a>
				{{#if ../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
	</ol>
	<ol class="item-list">
		<li class="item flexrow item-header">
			<div class="item-name" style="flex: 4;">Itens e Tesouros</div>
			<div class="item-qtd">Qtd</div>
			{{#if isCharacter}}<div class="item-peso">Peso</div>{{/if}}
			<div class="item-controls">
			</div>
		</li>
		{{#each actor.inventario.tesouro.items as |item id|}}
		<li class="item flexrow" data-item-id="{{item._id}}">
			<div class="item-name flexrow" style="flex: 4;">
			<div class="item-image" style="background-image: url('{{item.img}}')"></div>
				<h4>{{item.name}}</h4>
			</div>
			<div class="item-qtd">
				{{#if ../owner}}
				<input type="text" classe="item-qtd" value="{{item.data.qtd}}" data-dtype="Number" placeholder="0" style="height: 20px; width:25%; text-align: center;">
				{{else}}
					{{item.data.qtd}}
				{{/if}}
			</div>
			{{#if ../isCharacter}}<div class="item-peso">{{item.data.peso}}</div>{{/if}}
			<div class="item-controls">
				{{#if ../botaoEditarItens}}<a class="item-control item-edit" title="Editar"><i class="fas fa-edit"></i></a>{{/if}}
				<a class="item-control item-delete" title="Excluir"><i class="fas fa-trash"></i></a>
			</div>
		</li>
		{{/each}}
		<li class="item flexrow item-header">
			<div class="item-name text-right">
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar arma" data-type="arma"><i class="fas fa-plus"></i> Arma</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar armadura" data-type="equipamento"><i class="fas fa-plus"></i> Equipamento</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar consumivel" data-type="consumivel"><i class="fas fa-plus"></i> Consumível</a>
				&nbsp;&nbsp;
				<a class="item-control item-create" title="Criar tesouro" data-type="tesouro"><i class="fas fa-plus"></i> Item</a>
			</div>
		</li>
	</ol>
</div>

<div class="inventory-currency">  
	<ul class="currency">
	{{#if mostrarPlatina}}
	<li class="currency-item" title="Platina">
		<input type="number" name="data.dinheiro.tl" value="{{data.dinheiro.tl}}" data-dtype="Number" placeholder="0">
		<i class="fas fa-coins" style="color: #e5e4e2; line-height: 30px;"></i>
	</li>
	{{/if}}
	<li class="currency-item" title="Ouro">
		<input type="number" name="data.dinheiro.to" value="{{data.dinheiro.to}}" data-dtype="Number" placeholder="0">
		<i class="fas fa-coins" style="color: #c7ab10; line-height: 30px;"></i>
	</li>
	<li class="currency-item" title="Prata">
		<input type="number" name="data.dinheiro.tp" value="{{data.dinheiro.tp}}" data-dtype="Number" placeholder="0">
		<i class="fas fa-coins" style="color: #828282; line-height: 30px;"></i>
	</li>
	<li class="currency-item" title="Cobre">
		<input type="number" name="data.dinheiro.tc" value="{{data.dinheiro.tc}}" data-dtype="Number" placeholder="0">
		<i class="fas fa-coins" style="color: #cd7f32; line-height: 30px;"></i>
	</li>
	</ul>
</div>
<div class="encumbrance" title="Carga">
	<span class="encumbrance-bar" style="width:{{data.attributes.carga.pct}}%"></span>
	<span class="encumbrance-label">{{data.attributes.carga.value}} / {{data.attributes.carga.max}}</span>
	<i class="encumbrance-breakpoint encumbrance-30 arrow-up"></i>
	<i class="encumbrance-breakpoint encumbrance-30 arrow-down"></i>
</div>