<div class="form-group">
	<label>{{ localize "T20.ActionSave" }}</label>
	<div class="form-fields">
		<input type="text" name="data.resistencia.txt" value="{{data.resistencia.txt}}" data-dtype="String" />
	</div>
</div>

{{#if data.resistencia.txt}}
<div class="form-group">
	<label>CD Atributo / Bônus</label>
	<div class="form-fields">
		<select name="data.resistencia.atributo">
			{{#select data.resistencia.atributo}}
			{{selectOptions config.atributos selected=data.resistencia.atributo localize=true}}
			{{/select}}
		</select>
		<input type="text" name="data.resistencia.bonus" value="{{data.resistencia.bonus}}" data-dtype="Number" />
	</div>
</div>
{{/if}}