<form class="{{cssClass}} flexcol" autocomplete="off">
	{{!-- Item Sheet Header --}}
	{{> "systems/tormenta20/templates/item/parts/item-header.html"}}
	
	{{!-- Item Sheet Navigation --}}
	<nav class="sheet-tabs tabs" data-group="primary">
		<a class="item active" data-tab="description">{{ localize "T20.Description" }}</a>
		<a class="item" data-tab="details">{{ localize "T20.Details" }}</a>
		<a class="item" data-tab="effects">{{ localize "T20.Effects" }}</a>
	</nav>
	
	{{!-- Sheet Body --}}
	<section class="sheet-body">
		{{!-- Description Tab --}}
		{{> "systems/tormenta20/templates/item/parts/item-description.html"}}
		
		{{!-- Details Tab --}}
		<div class="tab details" data-group="primary" data-tab="details">
			<div class="form-group">
				<label>{{ localize "T20.Type" }}</label>
				<select name="data.tipo">
					{{selectOptions config.spellType selected=data.tipo localize=true}}
				</select>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.SpellCircle" }}</label>
				<select name="data.circulo" data-type="Number">
					{{#select data.circulo}}
					{{selectOptions config.spellLevels selected=data.circulo localize=true}}
					{{/select}}
				</select>
			</div>
			<div class="form-group">
				<label>{{ localize "T20.SpellSchool" }}</label>
				<select name="data.escola">
					{{#select data.escola}}
					{{selectOptions config.spellSchools selected=data.circulo localize=true}}
					{{/select}}
				</select>
			</div>
			
			<hr>
			{{!-- Rolls --}}
			{{> "systems/tormenta20/templates/item/parts/item-rolls.html"}}
			
			<hr>
			<h3>Ativação</h3>
			{{> "systems/tormenta20/templates/item/parts/item-ativacao.html"}}
			{{> "systems/tormenta20/templates/item/parts/item-resistencia.html"}}
			
			<hr>
			{{!-- Chat Message Flavor --}}
			<div class="form-group stacked">
				<label>{{ localize "T20.ChatFlavor" }}</label>
				<textarea name="data.chatFlavor" contenteditable="true">{{data.chatFlavor}}</textarea>
			</div>
		</div>
		
		{{!-- Effects Tab --}}
		<div class="tab effects" data-group="primary" data-tab="effects">
			{{> "systems/tormenta20/templates/actor/parts/active-effects.html"}}
		</div>
	</section>
</form>
